@if(juegoTerminado && !isWin) {
<div class="mensaje-finalizacion">Perdiste 😔, intentalo devuelta</div>
}

<app-message></app-message>

<div class="contador">
  <app-timer></app-timer>
</div>
<div class="tablero">
  @for (card of deckService.getDeck(); track card) {
  <div class="carta" (click)="cardAction(card)">
    @if(card.isFlip) {
    <img [src]="card.image" />
    } @else {
    <img src="assets/personajes/portrait.jpg" />
    }
  </div>
  }
</div>
<footer>
  <app-quote></app-quote>
</footer>
